<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>    
      
    <!--      
      PRODUCTION TROUBLESHOOTING:
      Use the following for extended Production trouble shooting. It will automatically
      restart the app if you make a change to the code. 
    -->
  
    <httpPlatform processPath="E:\www\qa-manager.showare.com\Files\system-provisioning\venv\Scripts\waitress-serve.exe"
                  arguments="--listen=127.0.0.1:%HTTP_PLATFORM_PORT% --call backend.app:create_app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="E:\logfiles\python.log"
                  processesPerApplication="1"                                        
                  > 

      <environmentVariables>
        <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />                
      </environmentVariables>      
    </httpPlatform>
  </system.webServer>
</configuration>                      